In [12]:
import pandas as pd
from HOwDI.util import create_db_engine

engine = create_db_engine(
    "sqlite:///C:/Users/bpeco/Box/h2@scale/h2_model/test1030.sqlite"
)

In [22]:
uuid = "e27a3281-beaf-4f93-870f-aebb9b11de68"
q = f"""SELECT producer, prod_capacity, prod_h, trial FROM 'output-production' WHERE UUID = '{uuid}'"""

production_df = pd.read_sql(q, con=engine).set_index("producer")

In [25]:
production_df["producer_type"] = production_df.index.str.split("_").str[-1]
production_summary = production_df.groupby(["producer_type","trial"]).sum()
production_summary

                       prod_capacity        prod_h
producer_type   trial
electrolyzer-RE 0       25807.650850  1.032306e+04
smr-high        1        2884.456967  2.596011e+03
                2        4643.345356  4.179011e+03
                3        3231.263922  2.789152e+03
                4        3280.157356  2.789156e+03
smr-high-ptc    1         300.000000  2.700000e+02
smrExisting     0        8371.000000  5.494712e-09
                1        8371.000000  7.457048e+03
                2        8371.000000  6.144047e+03
                3        8371.000000  7.533900e+03
                4        8371.000000  7.533900e+03